# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production (we build inside Docker)
build/

# editors
.vscode
.idea

# misc
.DS_Store


# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
